[user]
  name = Rick Waterman
  email = rwaterman@users.noreply.github.com
[core]
  editor = nvim
  autocrlf = input
  eol = input
	excludesFile = ~/.gitignore_global
	pager = delta
[github]
  user = rwaterman
[push]
	followTags = true
  default = current
[color]
  ui = auto
[merge]
  tool = vimdiff
	ff = true
	conflictStyle = zdiff3
[pager]
  branch = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[pull]
  rebase = false
[init]
  defaultBranch = develop
[alias]
  merge-theirs = "!f() { \
      if [ $# -ne 1 ]; then \
          echo 'Usage: git merge-theirs <branch>'; \
          exit 1; \
      fi; \
      b=\"$1\"; \
        git merge --no-ff --no-commit \"$b\" && \
        git restore --source=MERGE_HEAD --staged --worktree . && \
        git clean -fd && \
        git commit; \
    }; f"
  
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
