[user]
  name = Rick Waterman
  email = rwaterman@users.noreply.github.com
[core]
  editor = nvim
  autocrlf = input
  eol = input
	excludesFile = ~/.gitignore_global
[github]
  user = rwaterman
[push]
	followTags = true
  default = current
[color]
  ui = auto
[merge]
  tool = vimdiff
	ff = true
[pager]
  branch = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[pull]
  rebase = false
[init]
	defaultBranch = develop
