.idea/
.DS_Store

# Ignore .config except nvim, ghostty, and github-copilot
.config/*
!.config/nvim/
.config/nvim/lazy-lock.json
.config/ghostty/shaders
!.config/ghostty/
!.config/github-copilot/
.config/github-copilot/*
!.config/github-copilot/intellij/
!.claude/

# VS Code Application Support - ignore everything except settings.json
# Ignore Library/ Application Support/Code, except the actual settings.json
Library/Application Support/Code/
!Library/Application Support/Code/User/settings.json
