[user]
	name = Rick Waterman
	email = rick.waterman@jupiterone.com
[core]
	editor = vim
	autocrlf = input
	eol = input
[github]
  user = rwaterman
  email = rick.waterman@jupiterone.com
[push]
  followTags = true
  default = current
[color]
	ui = auto
[merge]
	tool = vimdiff
[pager]
	branch = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[init]
	defaultBranch = main
