[user]
	name = Rick Waterman
	email = rwaterman+noreply@github.com
[core]
	editor = vim
	autocrlf = input
[github]
  user = rwaterman
  email = rwaterman@users.noreply.github.com
[push]
	default = simple
[color]
	ui = auto
[merge]
	tool = vimdiff
