[submodule ".config/nvim-kick"]
	path = .config/nvim-kick
	url = https://github.com/nvim-lua/kickstart.nvim.git
	branch = master
[submodule ".config/nvim-lazyvim"]
	path = .config/nvim-lazyvim
	url = https://github.com/LazyVim/starter.git
	branch = main
[submodule ".config/nvim-nvchad"]
	path = .config/nvim-nvchad
	url = https://github.com/NvChad/starter.git
	branch = main
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
	branch = master
