.idea/
.DS_Store

# Ignore .config except nvim and ghostty
.config/*
!.config/nvim/
.config/nvim/lazy-lock.json
.config/ghostty/shaders
!.config/ghostty/

# VS Code Application Support - ignore everything except settings.json
# Ignore Library/ Application Support/Code, except the actual settings.json
Library/Application Support/Code/
!Library/Application Support/Code/User/settings.json
